@import './theme/index.css';
@import './theme/light.css';
@import './theme/dark.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  transition: all 0.2s;
}

a,
a:link {
  color: var(--primary-color);
  transition: all 0.2s;
}
